
<div class="sp-switch">
  <div (click)="setSelectedCategory(null)"
       [ngClass]="{'active': !selectedCategory}"
       class="option">Tous</div>
  <div (click)="setSelectedCategory('LESSON')"
       [ngClass]="{'active': selectedCategory === 'LESSON'}"
       class="option">Cours</div>
  <div (click)="setSelectedCategory('CARDIO_TRAINING')"
       [ngClass]="{'active': selectedCategory === 'CARDIO_TRAINING' }"
       class="option">Cardio</div>
  <div (click)="setSelectedCategory('REINFORCEMENT')"
       [ngClass]="{'active': selectedCategory === 'REINFORCEMENT'}"
       class="option">Renfo</div>
</div>

<div class="records">
  <div class="l-card record" (click)="selectRecord(record)" [ngClass]="{'selected': record === selectedRecord}"
       *ngFor="let record of records$ | async | filterByCategory: selectedCategory ">

    <i class="fi flaticon-people record-icon" aria-hidden="true"
       [ngClass]="{'flaticon-people': record.category === 'LESSON',
                   'flaticon-man-cycling': record.category === 'CARDIO_TRAINING',
                   'flaticon-weightlifting': record.category === 'REINFORCEMENT' }"></i>

    <span class="record-title">{{ record.type }}</span>
    <span class="record-date">{{ record.date | date:'longDate' }}</span>
  </div>
</div>
