
<div class="nb-exercices" *ngIf="exercices.length > 0">Il y a {{exercices.length}} exercices.</div>
<div class="no-exercices" *ngIf="exercices.length == 0">Aucun exercice dans de programme</div>

<table>
  <tr class="exercice" *ngFor="let exercice of exercices;let premier = first; let dernier = last; let i = index">
    <td class="exercice-category">
    <!--  <i class="fi flaticon-people flaticon-man-cycling flaticon-weightlifting"></i> -->
      <!-- class ="fi" -> Statique  -   {} -> variable dynamique -->
      <i class="fi" [ngClass]="{'flaticon-people': exercice.category === 'LESSON',
                                'flaticon-weightlifting':exercice.category === 'REINFORCEMENT',
                                'flaticon-man-cycling':exercice.category === 'CARDIO_TRAINING'}"></i>
    </td>
    <td>{{exercice.type}}</td>
    <td>{{exercice.duration}}
      <span *ngIf="exercice.speed">
          à {{exercice.speed}}
      </span>
      {{exercice.weigth}}
      {{exercice.nbRepetion}}
      <span *ngIf="exercice.nbMouvement">
        x {{exercice.nbMouvement}}
      </span>
    </td>
    <td>{{exercice.comment}}</td>
    <td class="actions">
        <div class="ordering">
          <span *ngIf="!premier">
            <i (click)="moveUp(i)" class="fa fa-arrow-up" aria-hidden="true"></i>
          </span>
          <span *ngIf="!dernier">
            <i (click)="moveDown(i)" class="fa fa-arrow-down" aria-hidden="true"></i>
          </span>
          <ng-template #emptyCell><div>&nbsp;</div></ng-template>
        </div>
        <div class="deleting">
          <i (click)="supprimer(i)" class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
    </td>
  </tr>
</table>
